<div class="container-height">

<div class="colony-container">
  <div class="container">
  <!-- Explore -->
  <div class="banner-between text-center">
    <h2>My Bookings</h2>
    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>
  </div>

    <% @bookings.each do |booking| %>

    <div class="card-product" style="margin:10px 0;">

      <%= link_to (image_tag colony_photo_url(booking.colony)), colony_path(booking.colony) %>

      <div class="card-product-infos">
        <h2><%= link_to booking.colony.name, colony_path(booking.colony)%></h2>
        <p><strong>Check-in:</strong> <%= booking.start.strftime("%Y %m %d") %><br>
        <strong>Check-out: </strong> <%= booking.end.strftime("%Y %m %d") %><br>
      </div>
      <div style="float: right; margin-left: 50px;">
        <%= link_to "View", colony_path(booking.colony), class: 'btn btn-dark' %>

        <%= link_to "Cancel", destroy_booking_path(colony_id: booking.colony.id, id: booking.id), class: 'btn btn-dark', remote: true, method: :delete, data: {confirm: "Are you sure you want to cancel?"} %>

      </div>
    </div>
    <% end %>
  </div>
</div>

</div>
<%= render 'shared/footer'%>
