<div class="container">
  <div>
    <%= render 'shared/search'%>
  </div>

  <h2 class="text-center">Colonies available</h2>

<div class="card-container">
  <% @colonies.each do |colony| %>

    <div class="card-trip">

      <% if colony.photo.attached? %>
        <%= cl_image_tag colony.photo.key %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <% end %>

      <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
      <div class="card-trip-infos">
        <div>
          <h2><%= colony.name %></h2>
          <p>created by <strong><%= colony.user.email.match(/^(?<username>.+)@/)[:username] %></strong> in the year <%= colony_fake_year(colony) %></p>
          <p><%= colony.description %></p>
        </div>
        <h2 class="card-trip-pricing">£--.--</h2>
        <img src="https://res.cloudinary.com/dqat8a2hi/image/upload/v1645622283/Space-BNB/terminator-portrait-paint-by-number_gbszfq.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>

  <% end %>
</div>

  <div>
    <h2>More activities</h2>

    <div class="card-product" style="margin:10px 0;">
      <img src="https://res.cloudinary.com/dqat8a2hi/image/upload/v1645620922/Space-BNB/banner_activities_jh28z5.jpg" style="object-fit:cover;" />

      <div class="card-product-infos">
        <h2>Space walks</h2>
        <p>Explore nearby asteroids and go space-drifting, tethered to a drone! <strong>fun AND dangerous!</strong></p>
      </div>
   </div>

    <div class="card-product" style="margin:10px 0;">
      <img src="https://res.cloudinary.com/dqat8a2hi/image/upload/v1645621856/Space-BNB/outer-space-normandy-stars-planets-rings-spaceships-science-fiction-vehicles-wide-resolution-1080P-wallpaper-middle-size_whytac.jpg" />

      <div class="card-product-infos">
        <h2>Space Racing</h2>
        <p>Test your skills on the v-track in our specialised racing craft! full training provided. <strong>Thrilling!</strong></p>
      </div>
   </div>

    <div class="card-product" style="margin:10px 0;">
      <img src="https://res.cloudinary.com/dqat8a2hi/image/upload/v1645621997/Space-BNB/maxresdefault_xn4qy8.jpg" />

      <div class="card-product-infos">
        <h2>GWWF Wrestling</h2>
        <p>Galaxy Wookie Wrestling Federation - fancy yourself as a hard man? do you say 'whats your boggle mate?!' prior to a bar fight? try your luck in the ring with a wrestling wookie. <strong>Life-Changing.</strong></p>
      </div>
   </div>

  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
</div>

