<div class="container">
  <div>
    <%= render 'shared/search'%>
  </div>

<!-- Explore -->
<div class="banner-between text-center">
  <h2>Explore Colonies</h2>
  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>
</div>

<div class="card-container">
  <% @colonies.each do |colony| %>

    <div class="card-trip">


      <%= image_tag colony_photo_url(colony) %>
        <%# cl_image_tag colony.photo.key %>

      <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to colony.name, colony_path(colony) %></h2>
          <p>created by <strong><%= colony.user.email.match(/^(?<username>.+)@/)[:username] %></strong> in the year <%= colony_fake_year(colony) %></p>
          <p><%= colony.description %></p>
        </div>
        <h2 class="card-trip-pricing"><i style="width:1em; height:1em; background:url(https://res.cloudinary.com/dqat8a2hi/image/upload/v1645626818/Space-BNB/Dogecoin_Logo_myyf8i.png); background-size:cover; display:inline-block;"> </i> 500,000.00</h2>
        <img src="https://res.cloudinary.com/dqat8a2hi/image/upload/v1645622283/Space-BNB/terminator-portrait-paint-by-number_gbszfq.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>

  <% end %>
</div>



  <div>
<!-- Explore -->
<div class="banner-between text-center">
  <h2>Explore Activities</h2>
  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>
</div>

  <% random_activities(4).each do |activity| %>
    <div class="card-product">
        <img src="<%= activity[:image_url] %>" />
        <div class="card-product-infos">
          <h2><%= activity[:name] %></h2>
          <p><%= activity[:description] %></p>
        </div>
    </div>
  <% end %>

  </div>
</div>

<%= render 'shared/footer'%>
