<div class="container">

  <h1><%= @colony.name %></h1>

  <%= cl_image_tag @colony.photo.key, height: 300, crop: :fill, class: 'd-block w-100', style: 'object-fit: cover;' %>

  <h3>Colony information</h3>

  <ul>
  <li>Established by SpaceX in the year <%= @fake_year %></li>
  <li>Description: <%= @colony.description %></li>
  <li>Location: <%= @colony.location %></li>
  <li>Population: <%= @colony.population %></li>
  <li>Hostility rating: <%= @colony.hostility %></li>
  </ul>


  <h6><a href="#" class="btn btn-primary">Book a stay at this colony</a></h6>


  <h3>Fun activities nearby <%= @colony.name %> </h3>

  <ul>
  <li>*dummy list item*</li>
  <li>*dummy list item*</li>
  <li>*dummy list item*</li>
  <li>*dummy list item*</li>
  <li>*dummy list item*</li>
  <li>*dummy list item*</li>
  <li>*dummy list item*</li>
  </ul>

  </div>
