<div class="container">

  <h1>my colonies</h1>

  <%= link_to 'Establish a new Colony', new_colony_path %>

  <ul>
  <% @colonies.each do |colony| %>
  <li><%= colony.name %> <%= link_to "Edit", edit_colony_path(colony) %> <%= link_to "Delete", colony_path(colony), method: :delete %> bookings: [0], established: <%= colony_fake_year(colony) %></li>
  <% end %>
  </ul>

</div>
