<div class="container">

  <h2>My Colonies</h2>

  <%= link_to 'Establish a new Colony', new_colony_path, class: 'btn btn-dark' %>

  <ul>
  <% @colonies.each do |colony| %>



    <div class="card-product">

      <% if colony.photo.attached? %>
        <!-- <%= cl_image_tag colony.photo.key %> -->
        <%= link_to (cl_image_tag colony.photo.key), colony_path(colony) %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <% end %>

      <div class="card-product-infos">
        <h2><%= colony.name %></h2>
        <p><strong>Established:</strong> <%= colony_fake_year(colony) %><br>
        <strong>Population: </strong> <%= colony.population %><br>
        <strong>Hostility: </strong><%= colony.hostility %></p>
        <strong>Bookings: </strong>0
      </div>
      <div style="float: right; margin-left: 50px;">
        <%= link_to "Edit", edit_colony_path(colony), class: 'btn btn-dark' %>
        <%= link_to "Delete", colony_path(colony), class: 'btn btn-dark', method: :delete %>
      </div>
   </div>

  <li><%= colony.name %> <%= link_to "Edit", edit_colony_path(colony) %> <%= link_to "Delete", colony_path(colony), method: :delete %> bookings: [0], established: <%= colony_fake_year(colony) %></li>
  <% end %>
  </ul>

</div>
