<div class="container-height">
<!-- Colony Details -->
<div class="banner-between text-center">
  <h2>Colony details</h2>
  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>
</div>

<!-- COLONY BANNER -->

<div class="colony-banner colony-show-banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.7)), url(<%= colony_photo_url(@colony) %>);">
  <div class="container">
    <h2><strong><%= @colony.name %></strong></h2>
    <p>Established by <strong><%= colony_owner_name(@colony) %></strong> in the year <%= colony_fake_year(@colony) %>. This colony is home to <strong><%= colony_population(@colony) %></strong> inhabitants with a <strong><%= colony_hostility(@colony) %></strong> hostility rating.</p>
  </div>
</div>

<div class="container">

<div class="row justify-content-between text-center m-3">
  <div class="col-3 stat-card">
      <h4><small>Founder</small></h4>
      <p><%= colony_owner_name(@colony) %></p>
  </div>

  <div class="col-3 stat-card">
    <h4><small>Established</small></h4>
    <p><%= colony_fake_year(@colony) %></p>
  </div>

  <div class="col-3 stat-card">
      <h4><small>Population</small></h4>
      <p><%= colony_population(@colony) %></p>
  </div>

  <div class="col-3 stat-card">
      <h4><small>Hostility</small></h4>
      <p>'<%= colony_hostility(@colony).capitalize! %>'</p>
  </div>
</div>

<div class="row justify-content-evenly text-left gx-1 m-3">
  <div class="col-12 stat-card">
      <h4 class="text-center sub-heading">Colony description</h4>
      <p><%= @colony.description %></p>
  </div>
</div>

<div class="row justify-content-evenly text-center gx-1 m-3">
  <div class="col-12 stat-card">
  <!-- new booking form inline -->
  <%= render 'shared/booking_form' %>

  </div>
</div>


  <!-- Explore -->
<div class="banner-between text-center">
  <h2>Thrilling Activities Nearby</h2>
  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>
</div>


  <div class="card-product">
      <img src="https://mtv.mtvnimages.com/uri/mgid:file:http:shared:mtv.com/news/wp-content/uploads/2015/09/Ewok-1441395870.jpg?quality=.8&height=632.8089887640449&width=800" />
      <div class="card-product-infos">
        <h2>Hunting Ewoks</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
   </div>

  <div class="card-product">
      <img src="https://imageio.forbes.com/specials-images/imageserve/615f7a84c4048b29616d55d6/A-person-fishing-from-a-boat-at-Islands-of-Loreto-/960x0.jpg?fit=bounds&format=jpg&width=960" />
      <div class="card-product-infos">
        <h2>Fishing in lake Quaglon</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
   </div>

  <div class="card-product">
      <img src="https://livesafely.org/media/posts/123/avoid-being-mugged.jpg" />
      <div class="card-product-infos">
        <h2>Getting mugged</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
   </div>

  </div>


</div>

<%= render 'shared/footer'%>
