<div class="container-height">
  <div class="container">
    <h2 class="text-center">My Colonies</h2>
    <%= link_to 'Establish a new Colony', new_colony_path, class: 'btn btn-dark' %>

    <% @colonies.each do |colony| %>

    <div class="card-product" style="margin:10px 0;">
      <% if colony.photo.attached? %>
        <!-- <%= cl_image_tag colony.photo.key %> -->
      <%= link_to (cl_image_tag colony.photo.key), colony_path(colony) %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <% end %>

      <div class="card-product-infos">
        <h2><%= link_to colony.name, colony_path(colony) %></h2>
        <p><strong>Established:</strong> <%= colony_fake_year(colony) %><br>
        <strong>Population: </strong> <%= colony.population %><br>
        <strong>Hostility: </strong><%= colony.hostility %><br>
        <strong>Bookings: </strong>0</p>
      </div>
      <div style="float: right; margin-left: 50px;">
        <%= link_to "View", colony_path(colony), class: 'btn btn-dark' %>
        <%= link_to "Edit", edit_colony_path(colony), class: 'btn btn-dark' %>
        <%= link_to "Delete", colony_path(colony), class: 'btn btn-dark', method: :delete %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer'%>
