<div class="container">

  <h1><%= @colony.name %></h1>

  <%= cl_image_tag @colony.photo.key, height: 300, crop: :fill, class: 'd-block w-100', style: 'object-fit: cover;' %>

  <h3>Colony information</h3>

  <ul>
  <li>Established by SpaceX in the year <%= @fake_year %></li>
  <li>Description: <%= @colony.description %></li>
  <li>Location: <%= @colony.location %></li>
  <li>Population: <%= @colony.population %></li>
  <li>Hostility rating: <%= @colony.hostility %></li>
  </ul>

  <button type="button" class="btn btn-primary" style="width:100%">Book a stay at this colony</button>


  <h3>Fun activities nearby <%= @colony.name %> </h3>

  <div class="card-product">
      <img src="https://mtv.mtvnimages.com/uri/mgid:file:http:shared:mtv.com/news/wp-content/uploads/2015/09/Ewok-1441395870.jpg?quality=.8&height=632.8089887640449&width=800" />
      <div class="card-product-infos">
        <h2>Hunting Ewoks</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
   </div>

  <div class="card-product">
      <img src="https://imageio.forbes.com/specials-images/imageserve/615f7a84c4048b29616d55d6/A-person-fishing-from-a-boat-at-Islands-of-Loreto-/960x0.jpg?fit=bounds&format=jpg&width=960" />
      <div class="card-product-infos">
        <h2>Fishing in lake Quaglon</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
   </div>

  <div class="card-product">
      <img src="https://livesafely.org/media/posts/123/avoid-being-mugged.jpg" />
      <div class="card-product-infos">
        <h2>Getting mugged</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
   </div>

  <button type="button" class="btn btn-light" style="width:100%">Find more activities</button>


  </div>
